@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap&text= Creatdbyしおたじゅく');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap&text= けいさんれしゅうソフトえたごちょCalc-Pr');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@500&display=swap');
/*
@font-face {
	font-family: 'Century Schoolbook';
	src: local('CENSCBK.TTF');
}
@font-face {
	font-family: 'STIX Two Text';
	src: local('stix-two-text.ttf');
}
*/
@media (prefers-color-scheme: dark) {
    * {
        background-color: #222;
        color: #ddd;
    }
}
* {
    text-align: center;
    font-family: 'Klee One', monospace;
}
b {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
button {
    cursor: pointer;
    transition: all 0.4s ease;
}
.key {
    font-size: 20pt;
    height: 40pt;
    width: 40pt;
    margin: 6pt;
    border: 2pt black solid;
    color: black;
    background-color: whitesmoke;
    border-radius: 6pt;
    justify-content: center;
    transition: all 0s;
}
.lkey {
    font-size: 16pt;
    height: 44pt;
    width: 200pt;
}
.key:hover {
    color: black;
    background-color: whitesmoke;
}
.countainer {
    display: flex;
    justify-content: center;
}
.keyboard {
    height: 208px;
    width: 208px;
    padding: 8px;
    background-color: lightgray;
    border: 4pt black dotted;
    border-radius: 8pt;
    left: 50%;
}
.lbd {
    height: 300px;
    width: 300px;
}
.ans:active {
    color: whitesmoke;
    background-color: blue;
    border-color: lightblue;
}
.niset {
    height: 22px;
    width: 22px;
    border: none;
    color: transparent;
    background-color: lightgray;
    border-radius: 4pt;
    cursor: pointer;
}
.tile {
    /*font-family: 'STIX Two Text', 'Century Schoolbook', 'Times New Roman';*/
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    height: 22px;
    width: 22px;
    border: none;
    color: black;
    background-color: lightgray;
    border-radius: 4pt;
    cursor: pointer;
}
.numt {
    font-style: normal;
    font-weight: normal;
}
.tfunc {
    width: 48px;
    font-style: normal;
}
#del {
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    height: 22px;
    width: 32px;
    border: none;
    color: whitesmoke;
    background-color: red;
    border-radius: 4pt;
    cursor: pointer;
}
#secret-answer {
    display: none;
}
.math {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    margin: 0 4px;
}
.input-box {
    height: 20px;
    border: 1px transparent solid;
    color: gray;
    margin: 0 3px;
    background-color: whitesmoke;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bolder;
}
.attention {
    border: 1px aqua solid;
    animation: none;
}
.wt {
    color: lightcoral;
}
.nopt {
    color: lightseagreen;
    font-family: 'Times New Roman','Klee One';
    font-style: normal;
}
.input-box-r {
    height: 20px;
    border: 1px lightgray dashed;
    color: gray;
    margin: 0 3px;
    background-color: whitesmoke;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bolder;
}
.wt {
    color: lightcoral;
}
.nums {
    margin-top: 32px;
    padding-top: 8px;
    border-top: 1px black dotted;
}
.nisei {
    height: 20px;
    border: 1px transparent solid;
    color: gray;
    margin: 0 3px;
    background-color: whitesmoke;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bolder;
}
.nisea {
    border: 1px aqua solid;
    animation: none;
}
y {
    color: transparent;
    text-decoration: underline 10pt black solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 12px;
}
z {
    color: red;
    text-decoration: underline 10pt black solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 12px;
}
hr {
    height: 0;
    margin: 0;
    padding: 8px 0 8px;
    border: 0;
    text-align: center;
    overflow: visible;
    border-top: 3px double #aaa;
}
frac {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}
fn {
    font-size: small;
    padding: 0 4px;
    border-bottom: 1px solid #000000;
}
fd {
    font-size: small;
    padding: 0 4px;
}
sup {
    font-size: 6pt;
}
#WL1 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: red;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL2 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: indigo;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL3 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: blue;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL4 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: skyblue;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL5 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: orange;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL6 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: green;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL7 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: goldenrod;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
#WL8 {
    width: 17pt;
    height: 17pt;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: white;
    background-color: plum;
    border: black 1pt solid;
    border-radius: 3pt;
    cursor: default;
}
.No {
    background-color: whitesmoke !important;
    border-color: white !important;
}
.circle {
    margin: 1cm auto;
    text-align: center;
    border: 2px black solid;
    border-radius: 50%;
}
a.nolink {
    color: black;
}
.ex {
    padding: 20px;
    background-color: aliceblue;
    border: dashed 1px aquamarine;
}
article {
    /*padding: 100px 8px 80px;*/
    padding: 40px 8px 24px;
}
header {
    /*position: fixed;
    top: 0;
    left : 0;
    z-index: 10;
    width: 100%;*/
    color: #fff;
    background-color: #888888;
    padding: 24px 12px;
    font-family: 'Monomaniac One', monospace;
    font-size: 40px;
}
footer {
    /*position: fixed;
    bottom: 0;
    right : 0;
    z-index: 10;
    width: 100%;*/
    color: #fff;
    background-color: #666666;
    padding: 24px 12px;
    text-align: right;
    padding-right: 40px;
    font-family: 'Cherry Bomb One', monospace;
}
#bgfade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #44444488;
    display: none;
}
#toggleMemo:checked + #bgfade{
    display: block;    
}
#IP {
    position: fixed;
    width: 90%;
    height: 40%;
    bottom: 9%;
    left: 4.9%;
    z-index: 110;
    color: black;
    background-color: #ffffffee;
    resize: none;
    font-size: 16px;
}
#OP {
    position: fixed;
    width: 90%;
    height: 40%;
    top: 9%;
    left: 5%;
    z-index: 110;
    color: black;
    background-color: #ffffffee;
    border: black 1pt solid;
    font-size: 16px;
}
.sty{
    position: relative;
    margin: 10pt auto;
    height: 60pt;
    padding: 3em 2em 2em;
    width: fit-content;
    background-color: #eee;
}
.sty::before {
	position: absolute;
	content: "";
	width: 95%;
	height: 10px;
	top: 0.5em;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	border-top: dotted 10px #fff; /*ドットの形・大きさ・色*/
}
.ltxbtn {
    position: fixed;
    width: 40pt;
    height: 40pt;
    left: 20pt;
    z-index: 120;
    color: white;
    font: bold 20pt 'Kiwi Maru';
    text-align: center;
    vertical-align: middle;
    background-color: black;
    border: none;
    border-radius: 50%;
}
#toggleMemo {
    position: fixed;
    width: 40pt;
    height: 40pt;
    bottom: 20pt;
    right: 20pt;
    z-index: 120;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: black;
    border-radius: 50%;
    width: 40pt;
    height: 40pt;
    background-image: url("memo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20pt 20pt;
    cursor: pointer;
}
#toggleMemo:checked {
    background-color: gray;
}