@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@font-face {
	font-family: 'Century Schoolbook';
	src: local('CENSCBK.TTF'), /* フォントがローカルにインストールされている場合に有効 */
	     url('webfont.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
	     url('webfont.woff') format('woff'), /* woff - Modern Browsers */
	     url('webfont.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
	     url('webfont.svg#svgFontName') format('svg'); /* svg - Legacy iOS */
}
@font-face {
	font-family: 'STIX Two Text';
	src: local('stix-two-text.ttf'), /* フォントがローカルにインストールされている場合に有効 */
	     url('webfont.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
	     url('webfont.woff') format('woff'), /* woff - Modern Browsers */
	     url('webfont.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
	     url('webfont.svg#svgFontName') format('svg'); /* svg - Legacy iOS */
}
* {
    text-align: center;
    font-family: 'Klee One', cursive;
}
button {
    cursor: pointer;
    transition: all 0.4s ease;
}
.key {
    font-size: 20pt;
    height: 40pt;
    width: 40pt;
    margin: 6pt;
    border: 2pt black solid;
    color: black;
    background-color: whitesmoke;
    border-radius: 6pt;
    justify-content: center;
    transition: all 0s;
}
.lkey {
    font-size: 16pt;
    height: 44pt;
    width: 200pt;
}
.key:hover {
    color: black;
    background-color: whitesmoke;
}
.countainer {
    display: flex;
    justify-content: center;
}
.keyboard {
    height: 208px;
    width: 208px;
    padding: 8px;
    background-color: lightgray;
    border: 4pt black dotted;
    border-radius: 8pt;
    left: 50%;
}
.lbd {
    height: 300px;
    width: 300px;
}
.ans:active {
    color: whitesmoke;
    background-color: blue;
    border-color: lightblue;
}
.tile {
    /*font-family: 'Century Schoolbook';*/
    font-family: 'STIX Two Text';
    font-style: italic;
    font-weight: bolder;
    height: 22px;
    width: 22px;
    border: none;
    color: black;
    background-color: lightgray;
    border-radius: 4pt;
    cursor: pointer;
}
.numt {
    font-style: normal;
    font-weight: normal;
}
#del {
    font-family: 'STIX Two Text';
    font-weight: bolder;
    height: 22px;
    width: 22px;
    border: none;
    color: whitesmoke;
    background-color: red;
    border-radius: 4pt;
    cursor: pointer;
}
#secret-answer {
    display: none;
}
.math {
    font-family: 'STIX Two Text';
    font-style: italic;
    font-weight: bolder;
}
.input-box {
    height: 20px;
    border: 1px transparent solid;
    color: gray;
    margin: 0 3px;
    background-color: whitesmoke;
    font-family: 'STIX Two Text';
    font-style: italic;
    font-weight: bolder;
}
.attention {
    border: 1px aqua solid;
    animation: none;
}
.drop {
    -khtml-user-drag: element;
}
hr {
    height: 0;
    margin: 0;
    padding: 8px 0 8px;
    border: 0;
    text-align: center;
    overflow: visible;
    border-top: 3px double #aaa;
}
frac {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}
fn {
    font-size: small;
    padding: 0 4px;
    border-bottom: 1px solid #000000;
}
fd {
    font-size: small;
    padding: 0 4px;
}
sup {
    font-size: 6pt;
}
article {
    padding: 40px, 8px, 24px;
}
header {
    color: #fff;
    background-color: #888888;
    padding: 24px 12px;
    font-family: 'Monomaniac One', sans-serif;
    font-size: 40px;
}
footer {
    color: #fff;
    background-color: #666666;
    padding: 24px 12px;
    text-align: right;
    padding-right: 40px;
    font-family: 'Cherry Bomb One', cursive;
}